{% extends 'frontend_layout/index.html.twig' %}

{% block title %}{{ 'Chat with Dr.'|trans }} {{ doctor.user.firstName or doctor.user.lastName ? doctor.user.firstName ~ ' ' ~ doctor.user.lastName : doctor.user.email|split('@')[0]|capitalize }}{% endblock %}

{% block body %}
<div id="doctor-patient-chat-root" 
     data-doctor="{{ {
         id: doctor.id,
         identifier: doctor.user.email|split('@')[0]|capitalize,
         name: doctor.user.firstName or doctor.user.lastName ? doctor.user.firstName ~ ' ' ~ doctor.user.lastName : doctor.user.email|split('@')[0]|capitalize,
         avatar: doctor.user.avatar,
         specialty: doctor.specialty|default(doctor.department.name|default('Specialist'|trans))
     }|json_encode }}"
     data-patient="{{ {
         id: patient.id,
         identifier: patient.email|split('@')[0]|capitalize,
         name: patient.firstName or patient.lastName ? patient.firstName ~ ' ' ~ patient.lastName : patient.email|split('@')[0]|capitalize,
         email: patient.email,
         avatar: patient.avatar
     }|json_encode }}"
     data-user="{{ {
         id: app.user.id,
         roles: app.user.roles,
         name: app.user.firstName ? app.user.firstName ~ ' ' ~ app.user.lastName : app.user.email
     }|json_encode }}"
     data-doctors="{{ contacts|json_encode }}"
     data-locale="{{ app.request.locale }}">
</div>
{% endblock %}
