{% extends 'frontend_layout/index.html.twig' %}

{% block title %}How It Works - E-Clinic Health{% endblock %}

{% block body %}
    <main class="main">
        <div id="how-it-works-root"></div>
    </main>
{% endblock %}
